body {
	overflow: hidden
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	justify-content: center;
	align-items: flex-end;
	background-color: #000;
	z-index: 1000
}

#preloader.hide-preloader {
	animation-name: hidePreloader;
	animation-duration: 3s
}

#preloader.preloader-hidden {
	display: none
}

@keyframes hidePreloader {
	0% {
		opacity: 1
	}
	1% {
		opacity: 0.99
	}
	2% {
		opacity: 0.98
	}
	3% {
		opacity: 0.97
	}
	4% {
		opacity: 0.96
	}
	5% {
		opacity: 0.95
	}
	6% {
		opacity: 0.94
	}
	7% {
		opacity: 0.93
	}
	8% {
		opacity: 0.92
	}
	9% {
		opacity: 0.91
	}
	10% {
		opacity: 0.9
	}
	11% {
		opacity: 0.89
	}
	12% {
		opacity: 0.88
	}
	13% {
		opacity: 0.87
	}
	14% {
		opacity: 0.86
	}
	15% {
		opacity: 0.85
	}
	16% {
		opacity: 0.84
	}
	17% {
		opacity: 0.83
	}
	18% {
		opacity: 0.82
	}
	19% {
		opacity: 0.81
	}
	20% {
		opacity: 0.8
	}
	21% {
		opacity: 0.79
	}
	22% {
		opacity: 0.78
	}
	23% {
		opacity: 0.77
	}
	24% {
		opacity: 0.76
	}
	25% {
		opacity: 0.75
	}
	26% {
		opacity: 0.74
	}
	27% {
		opacity: 0.73
	}
	28% {
		opacity: 0.72
	}
	29% {
		opacity: 0.71
	}
	30% {
		opacity: 0.7
	}
	31% {
		opacity: 0.69
	}
	32% {
		opacity: 0.68
	}
	33% {
		opacity: 0.67
	}
	34% {
		opacity: 0.66
	}
	35% {
		opacity: 0.65
	}
	36% {
		opacity: 0.64
	}
	37% {
		opacity: 0.63
	}
	38% {
		opacity: 0.62
	}
	39% {
		opacity: 0.61
	}
	40% {
		opacity: 0.6
	}
	41% {
		opacity: 0.59
	}
	42% {
		opacity: 0.58
	}
	43% {
		opacity: 0.57
	}
	44% {
		opacity: 0.56
	}
	45% {
		opacity: 0.55
	}
	46% {
		opacity: 0.54
	}
	47% {
		opacity: 0.53
	}
	48% {
		opacity: 0.52
	}
	49% {
		opacity: 0.51
	}
	50% {
		opacity: 0.5
	}
	51% {
		opacity: 0.49
	}
	52% {
		opacity: 0.48
	}
	53% {
		opacity: 0.47
	}
	54% {
		opacity: 0.46
	}
	55% {
		opacity: 0.45
	}
	56% {
		opacity: 0.44
	}
	57% {
		opacity: 0.43
	}
	58% {
		opacity: 0.42
	}
	59% {
		opacity: 0.41
	}
	60% {
		opacity: 0.4
	}
	61% {
		opacity: 0.39
	}
	62% {
		opacity: 0.38
	}
	63% {
		opacity: 0.37
	}
	64% {
		opacity: 0.36
	}
	65% {
		opacity: 0.35
	}
	66% {
		opacity: 0.34
	}
	67% {
		opacity: 0.33
	}
	68% {
		opacity: 0.32
	}
	69% {
		opacity: 0.31
	}
	70% {
		opacity: 0.3
	}
	71% {
		opacity: 0.29
	}
	72% {
		opacity: 0.28
	}
	73% {
		opacity: 0.27
	}
	74% {
		opacity: 0.26
	}
	75% {
		opacity: 0.25
	}
	76% {
		opacity: 0.24
	}
	77% {
		opacity: 0.23
	}
	78% {
		opacity: 0.22
	}
	79% {
		opacity: 0.21
	}
	80% {
		opacity: 0.2
	}
	81% {
		opacity: 0.19
	}
	82% {
		opacity: 0.18
	}
	83% {
		opacity: 0.17
	}
	84% {
		opacity: 0.16
	}
	85% {
		opacity: 0.15
	}
	86% {
		opacity: 0.14
	}
	87% {
		opacity: 0.13
	}
	88% {
		opacity: 0.12
	}
	89% {
		opacity: 0.11
	}
	90% {
		opacity: 0.1
	}
	91% {
		opacity: 0.09
	}
	92% {
		opacity: 0.08
	}
	93% {
		opacity: 0.07
	}
	94% {
		opacity: 0.06
	}
	95% {
		opacity: 0.05
	}
	96% {
		opacity: 0.04
	}
	97% {
		opacity: 0.03
	}
	98% {
		opacity: 0.02
	}
	99% {
		opacity: 0.01
	}
	100% {
		opacity: 0
	}
}

.preloader__content {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	height: calc(275px + (440 - 275) * ((100vw - 360px) / (1920 - 360)));
	width: calc(328px + (638 - 328) * ((100vw - 360px) / (1920 - 360)));
	margin: auto calc(16px + (641 - 16) * ((100vw - 360px) / (1920 - 360))) calc(54px + (48 - 54) * ((100vw - 360px) / (1920 - 360)))
}

.preloader__content .preloader__title {
	text-align: center;
	position: absolute;
	top: 0
}

.preloader__content .preloader__title p {
	font-family: "SFProDisplay";
	font-style: normal;
	font-weight: 700;
	line-height: 19.09px;
	color: #fff;
	text-transform: uppercase;
	font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (1920 - 360)));
	width: calc(175px + (199 - 175) * ((100vw - 360px) / (1920 - 360)));
	height: 19px;
	margin: auto
}

#preloader__bar {
	margin: auto;
	width: 149px;
	height: 20px;
	outline: 1px solid #fff;
	position: absolute;
	top: calc(132px + (325 - 132) * ((100vw - 360px) / (1920 - 360)))
}

#preloader__bar span {
	text-align: center;
	position: absolute
}

#preloader__bar:before,
#preloader__bar:after,
#preloader__bar>:first-child:before,
#preloader__bar>:first-child:after {
	position: absolute;
	width: 29px;
	height: 12px;
	border-style: solid;
	content: ""
}

#preloader__bar:before {
	top: -10px;
	left: -14px;
	border-color: #fff;
	border-width: 1px 0 0 1px
}

#preloader__bar:after {
	top: -10px;
	right: -14px;
	border-color: #fff;
	border-width: 1px 1px 0 0
}

#preloader__bar>:first-child:before {
	bottom: -10px;
	right: -14px;
	border-color: #fff;
	border-width: 0 1px 1px 0
}

#preloader__bar>:first-child:after {
	bottom: -10px;
	left: -14px;
	border-color: #fff;
	border-width: 0 0 1px 1px
}

#load {
	font-family: "SF Pro Display", sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.2rem;
	text-align: center;
	margin-top: -40px;
	color: #fff;
	z-index: 999
}

#preloader__progress {
	position: relative;
	top: 0;
	height: 20px;
	background-color: #fff
}

.preloader__description {
	font-family: "SFProDisplay";
	font-style: normal;
	font-weight: 400;
	line-height: 19.6px;
	color: #fff;
	color: #fff;
	text-align: center;
	font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1920 - 360)))
}

.preloader__description p {
	margin: 0;
	width: calc(328px + (638 - 328) * ((100vw - 360px) / (1920 - 360)))
}

@media all and (max-width: 361px) {
	#load {
		display: none
	}
	#preloader__bar:before,
	#preloader__bar:after,
	#preloader__bar>:first-child:before,
	#preloader__bar>:first-child:after {
		border-style: none
	}
}

.loaded__background {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	min-height: 100vh;
	min-width: 100vw;
	position: relative
}

.loaded__background .loaded__background__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	position: absolute;
	height: calc(400px + (578 - 400) * ((100vw - 360px) / (1920 - 360)));
	width: calc(359px + (677 - 359) * ((100vw - 360px) / (1920 - 360)));
	margin: calc(230px + (350 - 230) * ((100vw - 360px) / (1920 - 360))) calc(0px + (621 - 0) * ((100vw - 360px) / (1920 - 360))) calc(54px + (28 - 54) * ((100vw - 360px) / (1920 - 360)))
}

.loaded__background .loaded__background__container header .logo img {
	width: calc(42px + (62 - 42) * ((100vw - 360px) / (1920 - 360)));
	height: calc(40px + (52 - 40) * ((100vw - 360px) / (1920 - 360)))
}

.loaded__background .loaded__background__container header .logo__title h2 {
	font-family: "SFProDisplay";
	font-style: normal;
	font-weight: 500;
	line-height: 56.55px;
	color: #fff;
	text-transform: capitalize;
	font-size: calc(32.29px + (47.39 - 32.29) * ((100vw - 320px) / (1920 - 320)));
	margin: calc(5.52px + (8.06 - 5.52) * ((100vw - 360px) / (1920 - 360))) 0 calc(10px + (15 - 10) * ((100vw - 360px) / (1920 - 360)));
	padding: 0
}

.loaded__background .loaded__background__container header .title__description p {
	font-family: "SFProDisplay";
	font-style: normal;
	font-weight: 500;
	line-height: 23.87px;
	color: #fff;
	font-size: calc(14px + (20 - 14) * ((100vw - 360px) / (1920 - 360)));
	margin: 0 0 calc(101px + (123 - 101) * ((100vw - 360px) / (1920 - 360))) 0
}

.loaded__background .loaded__background__container header .drag_drop {
	display: flex;
	justify-content: center;
	width: 204px;
	margin: auto;
	height: 111px;
	position: relative
}

.loaded__background .loaded__background__container header .drag_drop .drag_drop_section {
	display: flex;
	justify-content: space-between
}

.loaded__background .loaded__background__container header .drag_drop .drag_drop_section .div1,
.loaded__background .loaded__background__container header .drag_drop .drag_drop_section .div2 {
	float: left;
	height: 42px;
	width: 42px;
	cursor: pointer;
	border-radius: 50%;
	background-color: transparent;
	display: block;
	position: relative
}

.loaded__background .loaded__background__container header .drag_drop .drag_drop_section .div2 {
	border: 1px dotted #fff;
	z-index: 1
}

.loaded__background .loaded__background__container header .drag_drop .drag_drop_section .slider {
	position: relative;
	margin-top: 21px;
	-webkit-appearance: none;
	width: 204px;
	height: 0;
	outline: none;
	opacity: 1;
	display: block;
	z-index: 3
}

.loaded__background .loaded__background__container header .drag_drop .drag_drop_section .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	border: 1px solid #fff;
	cursor: pointer;
	display: block;
	margin-right: 10px
}

.loaded__background .loaded__background__container header .drag_drop .drag_drop_section .sliderPath {
	border-top: 1px dotted #fff;
	width: 108px;
	margin: 21px 6px 44px;
	height: 15px;
	position: relative;
	top: 0;
	left: 0;
	display: block;
	z-index: 1
}

.loaded__background .loaded__background__container header .drag_drop .drag_drop__title {
	position: absolute;
	top: 65px;
	width: 204px;
	height: 46px;
	font-size: 11px;
	font-family: "SFProDisplay";
	font-style: normal;
	font-weight: 400;
	line-height: 8.8px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	margin: 0
}

.loaded__background .loaded__background__container header .container__description {
	height: calc(68px + (60 - 68) * ((100vw - 360px) / (1920 - 360)));
	width: calc(358px + (668 - 358) * ((100vw - 360px) / (1920 - 360)))
}

.loaded__background .loaded__background__container header .container__description p {
	position: absolute;
	bottom: 0;
	margin: auto;
	font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1920 - 360)));
	text-align: center;
	font-family: "SFProDisplay";
	font-style: normal;
	font-weight: 400;
	line-height: calc(16.8px + (19.8 - 16.8) * ((100vw - 360px) / (1920 - 360)));
	color: #fff;
	padding: 32px 18px 0
}

.loaded__background .diagramm {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	position: absolute;
	right: calc(25px + (79 - 25) * ((100vw - 360px) / (1920 - 360)));
	bottom: calc(19px + (59 - 19) * ((100vw - 360px) / (1920 - 360)));
	width: 20px;
	height: 16px;
	background-color: transparent
}

.loaded__background .diagramm>div {
	width: 2px;
	height: 5px;
	background-color: #fff;
	margin-bottom: 0
}

.loaded__background .diagramm .five {
	height: 5px
}

.loaded__background .diagramm .six {
	height: 6px
}

.loaded__background .diagramm .sixteen {
	height: 16px
}

.loaded__background .diagramm .eight {
	height: 8px
}

.loaded__background .diagramm .zero {
	height: 0
}

.loaded__background .diagramm .one {
	height: 1px
}

@media all and (max-width: 425px) {
	.container__description p:first-child {
		display: none
	}
}

@media all and (min-width: 426px) {
	.container__description p:last-child {
		display: none
	}
}